<div class="con-left">
  <div class="left-nav zyyhb-nav">
    <li><a href="/green?category_sort=text&amp;category_id=40">废钢</a></li><li><a href="/green?category_sort=text&amp;category_id=41">废纸</a></li><li><a href="/green?category_sort=text&amp;category_id=42">废塑料</a></li><li><a href="/green?category_sort=text&amp;category_id=43">废有色</a></li><li><a href="/green?category_sort=text&amp;category_id=44">废家电</a></li><li><a href="/green?category_sort=text&amp;category_id=45">废汽车</a></li><li><a href="/green?category_sort=text&amp;category_id=46">废弃电子物</a></li>
  </ul>
  </div>
</div>