<div class="con-left">
  <div class="left-nav zyyhb-nav">
    <h2></h2>
    <ul>
    <%- @green_types.each do |green_type| %>
      <li><a href="/greens?type_id=<%= green_type.id %>"><%= green_type.name %></a></li>
    <% end %>
    </ul>
  </div>
</div>
<div class="con-right">
  <div class="k-r-box">
    <div class="k-r-n">
      <div class="k-r-m">
        <div class="article-list">
          <% @greens.each do |green| %>
            <dl>
              <dt>
                <%= link_to green.name, green_path(green), :target => :_blank %>
              </dt>
            </dl>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>