<div class="k-box">
  <div class="k-n">
    <div class="k-m">
      <div class="article">
        <div class="title">
          <h1>国内外利空交织 钢市“恐慌”情绪陡增</h1>
        </div>
        <div class="main">
          <div id="content-text">
            <%= @green.content.html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
