<div class="location-nav"> 
   <div style="display: inline">您的位置： </div><%= render_breadcrumbs %> 
</div>
<div class="banner">
  <img src="assets/p_lxwm.jpg">
</div>
<div class="company_brief">
  <%= @brief.value.html_safe %>
</div>