<div class="location-nav"> 
   <div style="display: inline">您的位置： </div><%= render_breadcrumbs %> 
</div>
<div class="banner">
  <img src="assets/p_lxwm.jpg">
</div>
<div class="company_info">
  <h3><%= I18n.t("company_name")%></h3>
  <li class='address'>地　址：<%= I18n.t("company_address")%></li>
  <li>联系人: 胡先生</li>
  <li>电　话：1866256991</li>
</div>