<div class="k-box">
  <div class="k-n">
    <div class="k-m">
      <div class="article">
        <div class="title">
          <h1><%=@company_news.name %></h1>
        </div>
        <div class="main">
          <div id="content-text">
            <%= @company_news.content.html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
